.bg-container {
    position: relative;
    height: 100vh;
    background: url("/assets/images/payramid.png") no-repeat center center;
    background-size: cover;

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.4);
    }
}

/* Custom modal styles */
.custom-modal {
    max-width: 1280px;
}

.custom-modal-content {
    width: 1280px;
    height: auto;
    border-radius: 20px;
    border: 1px solid #fff;
    opacity: 1;
}
.hero-section {
    position: relative;
    height: 800px;
    background:
        linear-gradient(
            to right,
            rgba(0, 0, 0, 0.7) 0%,
            /* dark on left */ rgba(0, 0, 0, 0.1) 40%,
            /* lighter in middle */ rgba(0, 0, 0, 0) 100% /* transparent (normal image) on right */
        ),
        url("../assets/images/payramid.png") no-repeat center center/cover;
    border-radius: 20px;
    overflow: hidden;
}

.overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.3); // optional overlay
}

.custom-tabs {
    position: absolute;
    bottom: 0; // stick to bottom of image
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    width: 90%;
    z-index: 2;
}

.tab-btn {
    flex: 1;
    text-align: center; // center text
    background: #7f94a1;
    border: none;
    border-bottom: none; // remove bottom border so it merges with content
    border-radius: 10px 10px 0 0;
    padding: 10px 20px;
    margin: 0 5px;
    font-weight: 500;
    padding: 12px 0; // adjust vertical padding
    cursor: pointer;
    transition: all 0.3s ease;
    color: #fff;

    font-family: "Roboto", sans-serif;
    font-weight: 700; // bold
    font-size: 20px;
    letter-spacing: 0.01em;
}

.tab-btn.active {
    background: #ffa600;
    color: #fff;
    border: 1px solid #135699;
    //   border-color: #007bff;
}

.tab-content {
    //   background: #fff;
    //   border: 1px solid #ddd;
    //   border-radius: 0 0 10px 10px;
    //   box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.tab-main-title {
    font-family: "Roboto", sans-serif;
    font-weight: 500; // "Medium" in Roboto = weight 500
    font-size: 30px;
    line-height: 100%; // same as line-height: 1;
    letter-spacing: 0; // no extra spacing
    text-align: center;
    display: block; // span becomes block-like

    .highlight-1 {
        color: #135699; // golden for "Piramidele din Gyza"
        font-weight: 700;
    }

    .highlight-2 {
        color: #135699; // blue for "Cairo, Egipt"
        font-weight: 700;
    }
}

.tabs-details {
    border-radius: 12px;
    background-color: #faf8ef;
    padding: 20px;
}

.tab-content-title {
    font-family: "Roboto", sans-serif;
    font-weight: 400; // Regular weight
    font-size: 24px;
    line-height: 32px; // spacing between lines
    letter-spacing: 0; // no extra spacing
    font-style: normal; // Regular style
    color: #0f1d2d;
}

.bullets {
    display: flex;
    justify-content: flex-start;
    align-items: center; // vertical center
    gap: 15px;
    margin-top: 20px;

    img {
        width: 40px; // adjust icon size
        height: 40px;
        object-fit: contain;
    }

    h3 {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 0;
        color: #3f4a57;
        margin: 0; // remove default margin that can break vertical alignment
    }
}

.detail-container {
    gap: 40px;

    .pasul {
        border-radius: 12px;
        background-color: #f1f4f7;
        border: 1px solid #ffc112;
        padding: 10px;
        margin-top: 5px;

        .content {
            padding: 7px;

            .main-title {
                color: #ffc112;
                font-family: "roboto";
                font-size: 20px;
                line-height: 20px;
                letter-spacing: 4%;
            }

            .sub-title {
                color: #0f1d2d;
                font-family: "roboto";
                font-size: 28px;
                line-height: 100%;
            }

            .text-content {
                color: #3f4a57;
                font-family: "Roboto", sans-serif;
                font-weight: 400;
                font-size: 20px;
                line-height: 32px;
                letter-spacing: 0;
                font-style: normal;
                margin-top: 40px;
            }

            .datele-text-content {
                color: #3f4a57;
                font-family: "Roboto", sans-serif;
                font-weight: 500;
                font-style: normal;
                font-size: 24px;
                line-height: 28px;
                letter-spacing: 0;
                margin-top: 40px;
                margin-bottom: 2px;
            }

            .sub-text-content {
                font-family: "Roboto", sans-serif;
                font-weight: 400;
                font-style: normal;
                font-size: 18px;
                line-height: 24px;
                letter-spacing: 0;
                color: #3f4a57;
            }

            .box {
                flex: 1;
                display: flex;
                align-items: center;
                justify-content: space-between;

                width: 373px;
                height: 72px;
                padding: 20px 30px;
                margin: 0 5px;

                background: #fff;
                border: 1px solid #ffc112;
                border-radius: 16px;
                cursor: pointer;
                transition: all 0.3s ease;

                .box-text {
                    font-family: "Roboto", sans-serif;
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 32px;
                    letter-spacing: 0;
                    font-style: normal;
                    color: #0f1d2d;
                }

                .calender-text {
                    font-family: "Roboto", sans-serif;
                    font-weight: 400;
                    font-style: normal;
                    font-size: 18px;
                    line-height: 20px;
                    letter-spacing: 0;
                    vertical-align: middle;
                    color: #6f7781;
                }

                .calender-icon {
                    width: 32px;
                    height: 32px;
                    margin-left: 10px;
                    cursor: pointer;
                }
            }

            .box.active {
                border-color: #007bff;
                background-color: #e6f0ff;
                box-shadow: 0 0 10px rgba(0, 123, 255, 0.4);
            }

            .travel-box {
                flex: 1;
                display: flex;
                align-items: center;
                justify-content: space-between;

                padding: 20px 30px;
                margin: 0 5px;

                background: #fff;
                border: 1px solid #ffc112;
                border-radius: 16px;
                cursor: pointer;
                transition: all 0.3s ease;
                .text-content-travel {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }

                .box-text {
                    font-family: "Roboto", sans-serif;
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 24px;
                    color: #0f1d2d;
                }

                .box-subtext {
                    font-family: "Roboto", sans-serif;
                    font-weight: 400;
                    font-style: normal;
                    font-size: 18px;
                    line-height: 32px;
                    letter-spacing: 0;
                    color: #0f1d2d;
                }

                .icon-image {
                    width: 32px;
                    height: 32px;
                    margin-left: 10px;
                }
            }
            .travel-box.active {
                border-color: #007bff;
                background-color: #e6f0ff;
                box-shadow: 0 0 10px rgba(0, 123, 255, 0.4);
            }
        }
    }

    .button-section {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .continue-button {
        width: 90%;
        background-color: #135699;
        color: #ffc112;
        font-family: "Roboto", sans-serif;
        font-size: 20px;
        font-weight: 700;
        border-radius: 12px;
        border: 1px solid #ffc112;
        padding: 12px 20px;
        margin-bottom: 50px;
        margin-top: 50px;

        &:hover {
            background-color: darken(#135699, 5%);
            color: #ffc112;
        }
    }
}

@media (max-width: 650px) {
    .cards {
        flex-direction: column !important;
        align-items: center;
        gap: 20px;
    }
}
