.bg-container {
  position: relative;
  height: 100vh;
  background: url('../assets/images/payramid.png') no-repeat center center;
  background-size: cover;

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); // optional dark overlay
  }
}